.display {
  padding: 1rem;
}

.token-search-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  align-items: center;
  padding: 0 0.5rem;
}
input {
  margin: 0;
  border: none;
  flex-grow: 1;
  outline: none; 
  flex-shrink: 1;
  flex-basis: 3rem;
  min-width: 0;
}
.dropdown {
  top: -1px;
  display: block;
}
.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
  max-width: 100%;
}

.dropdown-item {
  min-height: 1.5rem;
}
.label clr-icon {
  cursor: pointer;
  flex-shrink: 0;
  display: block;
}
.label {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
.label .label-content {
  flex-shrink: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}
.label clr-icon:hover {
  color: darkgray;
  transition: 100ms;
}