.display {
  padding: 1rem;
}

.token-search-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  align-items: center;
}
:host::ng-deep clr-input-container {
  margin-top: 0;
}
input {
  margin: 0;
  border: none;
  flex-grow: 1;
  outline: none; 
  flex-shrink: 1;
  flex-basis: 3rem;
  min-width: 0;
}
.dropdown {
  top: -17px;
}
.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
}

.dropdown-item {
  min-height: 1.5rem;
}