<clr-vertical-nav [clrVerticalNavCollapsible]="demoCollapsible">
    <clr-vertical-nav-group
            *ngFor="let item of lineageItems"
            routerLinkActive="active"
            [class.is-selected]="item.isSelected">
        <a routerLink="./normal" hidden aria-hidden="true">
        </a>
        <clr-icon shape="circle" class="is-solid"  clrVerticalNavIcon></clr-icon>
        {{item.title}}
        <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink
               routerLink="./normal/pidgey"
               routerLinkActive="active"
               *ngFor="let child of item.children"
               [class.is-selected]="child.isSelected"
                (click)="selectChild(item, child.title)">
                {{child.title}}
            </a>
        </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
</clr-vertical-nav>